#Generic
.body{
    white-space:nowrap;
}

.a{
    display:inline-block;
}
.img{
    width:32px;
    height:32px;
}

#Specific

.avatar{
    vertical-align:middle;
    width:113px
}
.content{
    font-family:Helvetica, Arial;
    padding-left: 10px;
    font-size: 14px;
    vertical-align:middle;
}
.name {
    font-size:18px;
    color:#09c;
    line-height: 1;
    margin: 0 0 8px 0;
}
.title {
    font-size:14px;
    color:#333;
    line-height: 1;
    margin: 0 0 8px 0;
    font-weight: 400;
}
.mail{
    font-size:14px;
    color:#999;
    line-height: 1;
    margin: 0;
    font-weight: 400;
}
.social{
    margin-top: 8px;
}
